

/*------MQ/INDEX------*/
@media (max-width: 768px) {
    .main {
        .hero {
            h1 {
                font-size: 60px;
            }
            h2 {
                font-size: 20px;
            }
            a {
                font-size: 15px;
            }
        }
    }
}
@media (max-width: 576px) {
    .main {
        .hero {
            h1 {
                font-size: 50px;
                margin-bottom: 30px;
            }
            h2 {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
        .video-principal iframe {
            width: 100%;
        }
    }
}

/*------MQ/PIZZAS------*/
@media (max-width: 768px) {
    .main {
        .titulo-menu {
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 15px;
            }
        }
    }
}

/*------MQ/PROMOCIONES------*/
@media (max-width: 768px) {
    .main {
        .titulo-promocion {
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 15px;
                margin: 10px 60px 20px 60px;
            }
        }
    }
}

/*------MQ/NOSOTROS------*/
@media (max-width: 1200px) {
    .main {   
        .nosotros-bienvenida div {
            flex-direction: column;
        }
        .nuestra-ubicacion div {
            flex-direction: column;
        }
    }
}

@media (max-width: 768px) {
    .main {
        .container-nosotros {
            h1 {
                font-size: 50px;
            }
            h2 {
                font-size: 15px;
            }
        }
        .nosotros-bienvenida {
            div {
                img {
                    width: 100%;
                }
                .texto-bienvenida {
                    h3 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
        .nuestra-ubicacion {
            div {
                img {
                    width: 100%;
                }
                .texto-ubicacion {
                    h3 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

/*------MQ/CONTACTO------*/
@media (max-width: 768px) {
    .main {
        .titulo-contacto {
            h1 {
                font-size: 45px;
            }
            p {
                font-size: 15px;
                margin: 10px 60px 60px 60px;
            }
        }
    }
}

@media (max-width: 576px) {
    .main {
        .titulo-contacto {
            h1 {
                font-size: 30px;
            }
            p {
                margin: 10px 20px 40px 20px;
            }
        }
    }
}
